
/* ///-----------------------
		header area
-----------------------/// */

.material-design nav.tab-bar {
	box-shadow: 0 3px 6px rgba(0,0,0,.16),0 3px 6px rgba(0,0,0,.23);
	/*z-index: 1;*/
}

.material-design nav.tab-bar.small {
	min-height: 71px;
}

.material-design nav.tab-bar.medium {
	min-height: 112px;
}

.material-design nav.tab-bar.tall {
	min-height: 168px;
}

.material-design nav.tab-bar.cyan {
	border-top: 25px solid #0097A7;
	background-color: #00bcd4;
}

.material-design nav.tab-bar .left-small,
.material-design nav.tab-bar .right-small {
	border: none;
}


/* ///-----------------------
		off canvas
-----------------------/// */

.material-design .left-off-canvas-menu,
.material-design .right-off-canvas-menu {
	background-color: #e5e5e5;
}

/* ///--- off canvas left & right  drop shadow ---/// */
.material-design .left-off-canvas-menu {
	box-shadow: 6px 0px 6px rgba(0,0,0,.16);
}

.material-design .right-off-canvas-menu {
	box-shadow: -6px 0px 6px rgba(0,0,0,.16);
}

/* ///--- app name ---/// */
.material-design ul.off-canvas-list li#app-name label {
	height: 63px;
	background: #E5E5E5;
	font-size: 36px;
	font-weight: 200;
	text-align: center;
	border-bottom: 1px solid rgba(153, 153, 153, 0.39);
}

/* ///--- credit verb ---/// */
.material-design ul.off-canvas-list li#credits label {
	font-size: 14px;
	font-weight: 200;
	text-align: center;
	text-transform: capitalize;
	padding-top: 22px;
	position: absolute;
	bottom: 16px;
	border-top: 1px solid rgba(153, 153, 153, 0.5);
	width: 100%;
	background-color: rgb(229, 229, 229);
}

/* ///--- credit name ---/// */
.material-design ul.off-canvas-list li#credits label strong {
	font-weight: 500;
}

/* ///--- menu item ---/// */
.material-design ul.off-canvas-list li a {
	color: rgba(44, 44, 44, 1);
	border-bottom: none;
}

/* ///--- menu item hover ---/// */
.material-design ul.off-canvas-list li a:hover {
	/*background-color: #CFCFCF;*/
	background-color: white;
	margin: 0px;
	/*box-shadow: 0 3px 6px rgba(0,0,0,.16),0 3px 6px rgba(0,0,0,.23);*/
	box-shadow: inset 0 0 3px #000000;
}

/* ///--- menu active content overlay ---/// */
.material-design .offcanvas-overlap .exit-off-canvas {
	background: rgba(0,0,0,.5);
}

/* ///--- deepest background ---/// */
.material-design .off-canvas-wrap {
	/*background-color: #e5e5e5;*/
	background-color: #b0bec5;
	/*background-color: #e0f7fa;*/
}

/* ///--- pull first car up ---/// */
.material-design .card:first-of-type {
	margin-top: -70px;
}

/* ///--- basic card ---/// */
.material-design .card {
	background-color: white;
	margin: 25px 0px;
	padding: 20px;
	box-shadow: 0 3px 6px rgba(0,0,0,.16),0 3px 6px rgba(0,0,0,.23);
	border-radius: 2px;
}

/* ///--- floating action button ---/// */
.material-design .fab {
	border-radius: 100%;
	margin: 0;
	padding: 12px;
	font-size: 26px;
	width: 56px;
	height: 56px;
	box-shadow: 0 3px 6px rgba(0,0,0,.16),0 3px 6px rgba(0,0,0,.23);
	transition: all 0.5s ease;
	outline: 0 !important;
	position: absolute;
	top: -30px;
}

/* ///--- floating action button hover ---/// */
.material-design .fab:hover {
	box-shadow: 0 6px 6px rgba(0,0,0,.16),0 6px 6px rgba(0,0,0,.23);
}

/* ///--- yellow 500 ---/// */
.material-design .fab.yellow {
	background-color: #ffeb3b;
	color: #ff8f00;
}

.material-design .fab.yellow:hover {
	background-color: #fdd835;
	color: #ff6f00;
}

.card-enter {
	-webkit-transition: 1s linear all; /* Chrome */
	transition: 1s linear all;
	opacity: 0;
}

.card-enter.card-enter-active {
	opacity: 1;
}


/* ///-----------------------
		typography
-----------------------/// */

.material-design .subheader {
	font-weight: 300;
}

.material-design .date-time-overlay {
	background-color: white;
	padding: 5px;
	float: right;
	box-shadow: 0 3px 6px rgba(0,0,0,.16),0 3px 6px rgba(0,0,0,.23);
	margin-right: -30px;
	/*margin-top: -10px;*/
	border-radius: 2px;
}

.material-design .date-time-overlay.yellow {
	background-color: #ffeb3b;
	color: #ff8f00;
}

.material-design .date-time-overlay.cyan {
	background-color: #00bcd4;
	color: white;
}


