<toaster-container></toaster-container>

<div class="row">
	<div class="columns small-9 small-offset-1">
		<div class="card">
			<h1 class="page-title">{{ pageTitle }}</h1>
		</div> <!-- end .card -->

		<div class="card">
			<form ng-submit="create()" name="createForm" role="form">
				<div class="row">
					<div class="column small-5">
						<input type="text" name="name" ng-model="name" required placeholder="Coral Name"/>
					</div> <!-- end .small-5 -->

					<div class="column small-5">
						<input type="text" name="type" ng-model="type" required placeholder="Coral Type"/>
					</div> <!-- end .small-5 -->

					<div class="column small-2">
						<button type="submit" class="button tiny round">Create</button>
					</div> <!-- end .small-2 -->
				</div> <!-- end .row -->
			</form>
		</div> <!-- end .card -->
	</div> <!-- end .small-10 -->

	<div class="columns small-2">
		<button class="fab yellow" ng-click="fabClick()">&amp;</button>
	</div> <!-- end .columns small-2 -->
</div> <!-- end .row -->