<toaster-container></toaster-container>

<div class="row">
	<div class="columns small-9 small-offset-1">
		<div class="card">
			<h1 class="page-title">{{ pageTitle }}</h1>
		</div> <!-- end .card -->

		<div ng-repeat="item in items | orderBy:createdOn:reverse" class="card">
			<h6 class="date-time-overlay yellow">
				{{ item.createdOn | date:'MM/dd/yyyy @ h:mma' }}
			</h6>
			<h4>
				Name: <strong>{{ item.name }}</strong>
			</h4>
			<h5 class="subheader">
				Type: <strong>{{ item.type }}</strong>
			</h5>
			
		</div> <!-- end .card -->
	</div> <!-- end .small-10 -->

	<div class="columns small-2">
		<button class="fab yellow" ng-click="fabClick()">&amp;</button>
	</div> <!-- end .columns small-2 -->
</div> <!-- end .row -->