html,
body {
	height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
li,
dt,
dd,
th,
td,
button,
input,
textarea,
label,
p {
	font-family: 'Roboto', sans-serif;
}

.inner-wrap {
	min-height: 100vh;
}

.app-name a strong {
	font-weight: 400;
}

.app-name a {
	color: white;
	font-weight: 100;
	font-size: 28px;
}

h1.page-title {
	font-size: 56px;
}

.dropcap {
	float: left;
	color: #0097A7;
	font-size: 75px;
	line-height: 60px;
	padding-top: 4px;
	padding-right: 8px; 
	padding-left: 3px;
	font-family: Georgia;
}