html,
body {
	height: 100%;
}

.inner-wrap {
	min-height: 100vh;
}

.app-name a {
	color: white;
	font-weight: 300;
	font-size: 28px;
}

h1.page-title {
	font-size: 56px;
}

.dropcap {
	float: left;
	color: #0097A7;
	font-size: 75px;
	line-height: 60px;
	padding-top: 4px;
	padding-right: 8px; 
	padding-left: 3px;
	font-family: Georgia;
}