<toaster-container></toaster-container>

<div class="row">
	<div class="columns small-9 small-offset-1">
		<div class="card">
			<h1 class="page-title">{{ pageTitle }}</h1>
		</div> <!-- end .card -->

		<div class="card">
			<h1>Typography / <small>Headings</small></h1>

			<h1>h1 <small>small</small></h1>
			<h2>h2 <small>small</small></h2>
			<h3>h3 <small>small</small></h3>
			<h4>h4 <small>small</small></h4>
			<h5>h5 <small>small</small></h5>
			<h6>h6 <small>small</small></h6>
		</div> <!-- end .card -->

		<div class="card">
			<h1>Typography / <small>Subheadings</small></h1>

			<h1 class="subheader">h1.subheader</h1>
			<h2 class="subheader">h2.subheader</h2>
			<h3 class="subheader">h3.subheader</h3>
			<h4 class="subheader">h4.subheader</h4>
			<h5 class="subheader">h5.subheader</h5>
			<h6 class="subheader">h6.subheader</h6>
		</div> <!-- end .card -->

		<div class="card">
			<h1>Typography / <small>Paragraph</small></h1>

			<p><span class="dropcap">D</span>ropcap, <strong>strong</strong>, <em>emphasis</em>, <strike>strike</strike>, <u>underline</u> Art party Tumblr forage iPhone actually, fanny pack semiotics. Four loko Truffaut mixtape, Pinterest sriracha next level Kickstarter photo booth keffiyeh Echo Park Intelligentsia organic single-origin coffee. Banksy sriracha fingerstache, biodiesel Pinterest plaid selvage fanny pack ethical. Tofu scenester food truck YOLO High Life, locavore church-key drinking vinegar. IPhone meh wayfarers, Shoreditch ethical slow-carb narwhal occupy art party pickled church-key kale chips food truck cornhole. Pinterest biodiesel tote bag, cardigan Blue Bottle four loko twee vegan umami Echo Park salvia distillery raw denim. Street art plaid Odd Future, stumptown locavore synth vegan vinyl photo booth Truffaut letterpress leggings hashtag.</p>
		</div> <!-- end .card -->

		<div class="card">
			<h1>Typography / <small>Blockquote</small></h1>

			<blockquote>
				The internet is not a big truck. It’s a series of tubes.
				<cite>Former Senator from Alaska, Ted Stevens</cite>
			</blockquote>
		</div> <!-- end .card -->

		<div class="card">
			<h1>Lists / <small>Unordered</small></h1>

			<ul class="disc">
				<li>List item with a much longer description or more content.</li>
				<li>List item</li>
				<li>List item
					<ul>
						<li>Nested list item</li>
						<li>Nested list item</li>
						<li>Nested list item</li>
					</ul>
				</li>
				<li>List item</li>
				<li>List item</li>
				<li>List item</li>
			</ul>
		</div> <!-- end .card -->

		<div class="card">
			<h1>Lists / <small>No Bullet</small></h1>

			<ul class="no-bullet">
				<li>List item with a much longer description or more content.</li>
				<li>List item</li>
				<li>List item
					<ul>
						<li>Nested list item</li>
						<li>Nested list item</li>
						<li>Nested list item</li>
					</ul>
				</li>
				<li>List item</li>
				<li>List item</li>
				<li>List item</li>
			</ul>
		</div> <!-- end .card -->

		<div class="card">
			<h1>Lists / <small>Ordered</small></h1>

			<ol>
				<li>List item with a much longer description or more content.</li>
				<li>List item</li>
				<li>List item
					<ol>
						<li>Nested list item</li>
						<li>Nested list item</li>
						<li>Nested list item</li>
					</ol>
				</li>
				<li>List item</li>
				<li>List item</li>
				<li>List item</li>
			</ol>
		</div> <!-- end .card -->

		<div class="card">
			<h1>Lists / <small>Definition</small></h1>

			<dl>
				<dt>Definition Title</dt>
				<dd>Definition Body four loko Truffaut mixtape, Pinterest sriracha next level Kickstarter</dd>
			</dl>
		</div> <!-- end .card -->
	</div> <!-- end .small-10 -->

	<div class="columns small-2">
		<button class="fab yellow" ng-click="fabClick()">&amp;</button>
	</div> <!-- end .columns small-2 -->
</div> <!-- end .row -->