<toaster-container></toaster-container>

<div class="row">
	<div class="columns small-9 small-offset-1">
		<div class="card">
			<h1 class="page-title">{{ pageTitle }}</h1>
		</div> <!-- end .card -->

		<div class="card">
			<h4 ng-repeat="coral in corals">
				<a href="" ng-click="delete(coral)">delete</a> - {{ coral.name }} {{ coral.type }}
			</h4>
		</div> <!-- end .card -->
	</div> <!-- end .small-10 -->

	<div class="columns small-2">
		<button class="fab yellow" ng-click="fabClick()">&amp;</button>
	</div> <!-- end .columns small-2 -->
</div> <!-- end .row -->